*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    font-size: 24px;
}

input,textarea,select{
    background-color: bisque;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.details{
    flex: 3;
}

.address .form-group{
    display: flex;
    margin: 1em;
}

.address .form-group label{
    flex: 1;
    text-align: right;
    margin-right: 1em;
}

.address .form-group input{
    flex: 3;
    font-size: 1em;
}

.shipping{
    text-align: center;
}

.shipping select{
    font-size: 1em;
    margin-top: 0.5em;
}

.payment{
    text-align: center;
    margin-top: 1em;
}

.payment div:nth-child(2){
    display: flex;
}

.payment div:nth-child(2) label{
    flex: 1;
    margin-top: 0.5em;
}

.checks{
    display: flex;
    text-align: center;
    margin-top: 1em;
}

.checks label{
    flex: 1;
}

.checks label:nth-child(2){
    order: -1;
}

.comments{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.comments textarea{
    flex: 1;
}

.submit{
    margin-top: auto;
    text-align: center;
}

.submit button{
    background-color: aquamarine;
    width: 100%;
    color: azure;
    font-size:1.7em;
    border:none;
}